'atom-text-editor:not([mini])':
  'ctrl-shift-f': 'editor:auto-indent'
  'ctrl-shift-/': 'editor:toggle-line-comments'
  'ctrl-shift-down': 'editor:duplicate-lines'
  'ctrl-d': 'editor:delete-line'

'atom-workspace':
  'ctrl-shift-t': 'tree-view:toggle'
